Package: com.yourcompany.testtweak
Name: testTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Bailey Seymour
Author: Bailey Seymour
Section: Tweaks
Version: 0.0.1-21
Installed-Size: 184
